<h2 mat-dialog-title>Login</h2>
<mat-dialog-content >
    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter your username" name="userName" [(ngModel)]="model.userName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" name="password" [(ngModel)]="model.password">
    </mat-form-field>

    <a></a>
</mat-dialog-content>

<div mat-dialog-actions align="end">
    <button mat-button (click)="login()" cdkFocusInitial>Login</button>
    <button mat-button (click)="login()" cdkFocusInitial>Login</button>
</div>